@font-face {
    font-family: CALIBRIB;
    src: url('fonts/CALIBRIB.TTF');
}


@font-face {
    font-family: CALIBRIL;
    src: url('fonts/CALIBRIL.TTF');
}

@font-face {
    font-family: LoRes;
    src: url('fonts/LoRes.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

